* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Header-Section */
.header {
  background-color: #E5FC54;
  opacity: 0.9;
  height: 100vh;
}
.container {
  padding: 20px;
  height: 90vh;
}
.navbar {
  display: flex;
  align-items: start;
}
.logo,nav {
  flex-basis: 50%;
}
.logo img {
  width: 40%;
  display: block;
  margin: auto 17%;
  cursor: pointer;
}
nav ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}
li a {
  text-decoration: none;
  color: #2454FF;
  margin-right: 20px;
  padding: 8px;
  transition: all 0.2s ease 0.1s;
}
li a:hover {
  border-bottom: 2px solid #2454FF;
}
.navbar i {
  font-size: 30px;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
}
#row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
}
.col-1 ,.col-2{
  padding: 20px;
  height: 75vh;
}
.imgbox {
  width: 500px;
}
.imgbox img {
  width: 90%;
  border-radius: 10px;
}
.col-1 h1 {
  margin-top: 7rem;
  margin-bottom: 1.2rem;
  font-family: poppins;
  font-size: 6vmin;
}
.col-1 p {
  font-size: 18px;
  color: #2454FF;
  margin-bottom: 2rem;
}
.col-1 .btn {
  padding: 9px 15px;
  background-color: transparent;
  border-radius: 20px;
  color: #2454FF;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}
.col-1 .btn:hover {
  background-color: #2454FF;
  cursor: pointer;
  color: #E5FC54;
}
/* Category-section */
.category {
  margin: 50px 0 40px;
  height: 40vh;
}
.small-container {
  margin: 0 150px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: start;
}
.C-imgbox {
  max-width: 250px;
  margin-right: 2rem;
  transition: all 0.5s ease 0.1s;
}
.C-imgbox img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.C-imgbox:hover {
  transform: scale(1.1,1.1);
  margin-right: 3rem;
}
/* Feature-Section */
.Feature-Section {
  height: 50vh;
  margin-bottom: 50px;
}
.Feature-Section h2 {
  text-align: center;
  color: #555;
  font-family: popping;
  margin-bottom: 2.5rem;
  position: relative;
}
 h2::after {
  content: "";
  position: absolute;
  bottom: -12px;
  height: 4px;
  width: 4%;
  background-color: orange;
  transform: translateX(-130px);
}
.F-box {
  max-width: 160px;
  margin-right: 2rem;
  transition: all 0.5s ease 0.1s;
}
.F-imgbox img{
  width: 100%;
  cursor: pointer;
}
.F-box .ratings {
  color: rgb(243, 175, 49);
}
.F-box p {
  color: #555;
  font-size: 14px;
}

.F-box:hover {
  transform: translateY(-10px);
}
/* Latest-Product SEction */
.latest-product {
  background-color: #E5FC54;
  padding: 2rem 0;
}
.latest-product h2 {
  color: #2454FF;
  text-align: center;
  font-family: popping;
  margin-bottom: 2.5rem;
  position: relative;
}
.latest-product .row {
  flex-wrap: wrap;
  margin: 0 300px;
}
.latest-product p {
  color: black;
}
/*  -----Offer-Section---*/
.offer-section {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.offer-section .small-container {
margin: 0;
}
.offer-section .row {
  align-items: center;
}
.offer-col-1,.offer-col-2 {
  width: 500px;
}
.offer-col-1 img{
  width: 80%;
  border-radius: 10px;
}
.offer-col-1 {
transition: all 1s ease 0s;
}
.offer-col-1:hover {
  transform: scale(1.1,1.1);
  cursor: pointer;
}
.offer-col-2 h1 {
  font-family: popping;
  margin-bottom: 1rem;
  color: green;
  font-size: 6vmin;
}
.offer-col-2 p {
  color: #555;
  margin-bottom: 2rem;
  font-weight: bold;
}

.offer-col-2 .offer-desc {
  font-size: 13px;
}
.offer-col-2 button {
background-color: transparent;
border: 1px solid darkred;
color: brown;
font-size: 1rem;
cursor: pointer;
padding: 9px 15px;
border-radius: 10px;
transition: all 0.15s;
}
.offer-col-2 button:hover {
  background-color:brown;
  color:white;
 }
/*  Testimonial*/
.testimonial-section {
  padding: 30px 0;
  background-color: rgb(218, 242, 231);
}
.testimonial-section h1 {
  text-align: center;
  color: seagreen;
  margin-bottom: 1rem;
  font-family: popping;

}
.t-box {
width: 30%;
text-align: center;
box-shadow: 0 0 15px 0 rgba(0,0, 0,0.1);
padding: 0 30px;
margin-left: 1rem;
transition: all 0.5s ease 0s;
}
.t-box:hover {
transform: translateY(-10px);
cursor: pointer;
}
.t-box i {
  color: orange;
  font-size: 30px;
  margin-top: 2rem;
}
.t-box p {
  font-size: 14px;
  color: #777;
  margin: 0;
}
.ratings i {
  font-size: 20px;
  margin: 2rem 0 0; 
}
.t-box img {
  width: 50px;
  border-radius: 47%;
  margin-top: 0.5rem;
}
.t-box h4 {
  color: rgb(87, 86, 86);
}
/* --------------brands----------------- */
.brand-section {
  margin: 100px auto;
}
.b-col-1 {
  width: 180px;
}
.b-col-1 img {
  width: 80%;
  cursor: pointer;
  filter:  grayscale(100%);
  transition: all 0.5s;
}
.b-col-1 img:hover {
  filter:  grayscale(0);
  transform: translateY(-10px);
}
/* -----------Footer -----------------------*/
.footer {
  background-color: black;
  padding: 0 50px;
}
.footer .container {
  height: 35vh;
}
.f-col-1 {
  flex-basis: 30%;
}
.f-col-1 .applogo{
width: 300px;
}
.applogo img {
  width: 100px;
  margin-right: 1rem ;
}
.f-col-1 p {
  font-weight: bold;
  color: white;
  font-size: 14px;
  margin-bottom: 1.2rem;
}
.f-col-1 small {
  color: #555;
  font-size: 13px;
}
.f-col-2 {
  flex: 1;
}
 .site-logo {
 width: 150px;
 display: block;
 margin: 0 auto;
}
.site-logo img {
  width: 100%;
}
.f-col-2 p {
color: #777;
font-size: small;
}
.f-col-3 p,.f-col-4 p{
font-weight: bold;
color: white;
margin-bottom: 1rem;
}
.f-col-3 li,.f-col-4 li {
  display: block;
}
.f-col-3 li a,.f-col-4 li a {
  color: #777;
  font-size: small;
}

.f-col-3,.f-col-4 {
  flex-basis: 15%;
}
.footer hr {
  margin: 2rem auto 0;
}
.footer .copyright {
  color: #777;
  text-align: center;
  padding: 10px;
}